# Data Analysis with Pandas (Cycle Share Dataset)
#### Sondos Al-Braim, 14/12/2020

In [3]:
import pandas as pd

In [9]:
stationDf=pd.read_csv('./station.csv')

In [4]:
weatherDf=pd.read_csv('./weather.csv')

In [11]:
tripDf=pd.read_csv('./trip.csv', error_bad_lines=False)

b'Skipping line 50794: expected 12 fields, saw 20\n'

### What is the average trip duration for a borrowed bicycle?

In [12]:
tripDf['tripduration'].mean()

1178.2956753399776

### What’s the most common age of a bicycle-sharer?

In [25]:
tripDf['birthyear'].value_counts().head(1)

1987.0    18128
Name: birthyear, dtype: int64

In [26]:
2020-1987

33

### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [6]:
weatherDf['month'] = pd.DatetimeIndex(weatherDf['Date']).month

In [37]:
weatherDf[['month','Precipitation_In']].groupby('month').mean()

       Precipitation_In
month
1              0.143548
2              0.168421
3              0.156935
4              0.051333
5              0.012419
6              0.030500
7              0.012097
8              0.018226
9              0.041000
10             0.189000
11             0.187833
12             0.236290

In [7]:
weatherDf[['month','Precipitation_In']].groupby('month').median()

       Precipitation_In
month
1                 0.020
2                 0.040
3                 0.025
4                 0.000
5                 0.000
6                 0.000
7                 0.000
8                 0.000
9                 0.000
10                0.040
11                0.035
12                0.100

### What’s the average number of bikes at a given bike station?

In [12]:
stationDf[["current_dockcount", "name"]].mean()

current_dockcount    16.517241
dtype: float64

### Find the longest trip in terms of duration

In [42]:
tripDf.sort_values("tripduration", ascending = False).head(1)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
163148,124491,8/7/2015 17:53,8/8/2015 1:53,SEA00420,28794.398,Eastlake Ave E & E Allison St,2nd Ave & Pine St,EL-05,CBD-13,Short-Term Pass Holder,NaN,NaN

### Find the date of the day with the maximum temprature

In [47]:
weatherDf[['Date','Max_Temperature_F']].sort_values("Max_Temperature_F", ascending = False).head(1)

          Date  Max_Temperature_F
279  7/19/2015                 98

### In the trip file, do we have more male or female users

In [52]:
tripDf['gender'].value_counts().head(1)

Male    140564
Name: gender, dtype: int64