# Data Analysis with Pandas (Cycle Share Dataset)
#### Sondos Al-Braim, 14/12/2020

In [1]:
import pandas as pd

In [2]:
stationDf=pd.read_csv('./station.csv')

In [3]:
weatherDf=pd.read_csv('./weather.csv')

In [4]:
tripDf=pd.read_csv('./trip.csv', error_bad_lines=False)

b'Skipping line 50794: expected 12 fields, saw 20\n'

### What is the average trip duration for a borrowed bicycle?

In [5]:
average_trip_duration=tripDf['tripduration'].mean()
average_trip_duration

1178.2956753399776

### What’s the most common age of a bicycle-sharer?

In [6]:
tripDf['birthyear'].value_counts().head(1)

1987.0    18128
Name: birthyear, dtype: int64

In [7]:
most_common_age=2020-1987
most_common_age

33

### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [8]:
weatherDf['month'] = pd.DatetimeIndex(weatherDf['Date']).month

In [9]:
average_precipitation=weatherDf[['month','Precipitation_In']].groupby('month').mean()
average_precipitation

       Precipitation_In
month
1              0.143548
2              0.168421
3              0.156935
4              0.051333
5              0.012419
6              0.030500
7              0.012097
8              0.018226
9              0.041000
10             0.189000
11             0.187833
12             0.236290

In [10]:
median_precipitation=weatherDf[['month','Precipitation_In']].groupby('month').median()
median_precipitation

       Precipitation_In
month
1                 0.020
2                 0.040
3                 0.025
4                 0.000
5                 0.000
6                 0.000
7                 0.000
8                 0.000
9                 0.000
10                0.040
11                0.035
12                0.100

### What’s the average number of bikes at a given bike station?

In [11]:
average_number_of_bike=stationDf[stationDf['decommission_date'].isnull()]['current_dockcount'].mean()
average_number_of_bike

17.74074074074074

#### When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [12]:
station_is_modified = stationDf[['modification_date','install_dockcount','current_dockcount']].dropna()
bikes=station_is_modified['current_dockcount'].sum() - station_is_modified['install_dockcount'].sum()
bikes

-64

### Find the longest trip in terms of duration

In [13]:
tripDf.sort_values("tripduration", ascending = False).head(1)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
163148,124491,8/7/2015 17:53,8/8/2015 1:53,SEA00420,28794.398,Eastlake Ave E & E Allison St,2nd Ave & Pine St,EL-05,CBD-13,Short-Term Pass Holder,NaN,NaN

### Find the date of the day with the maximum temprature

In [14]:
weatherDf[['Date','Max_Temperature_F']].sort_values("Max_Temperature_F", ascending = False).head(1)

          Date  Max_Temperature_F
279  7/19/2015                 98

### In the trip file, do we have more male or female users

In [15]:
tripDf['gender'].value_counts().head(1)

Male    140564
Name: gender, dtype: int64

In [16]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(average_trip_duration, 1178.2956753399776)
    assert_equal(most_common_age, 33)
    assert_equal(average_precipitation.iloc[0].Precipitation_In, 0.14354838709677417)
    assert_equal(average_precipitation.iloc[11].Precipitation_In, 0.2362903225806451)
    assert_equal(median_precipitation.iloc[0].Precipitation_In, 0.02)
    assert_equal(median_precipitation.iloc[11].Precipitation_In,0.1)
    assert_equal(average_number_of_bike, 17.74074074074074)
    assert_equal(bikes, -64)

    print("Success!!!")

test()

Success!!!