# Data Analysis with Pandas (Video Game Sales)
#### Sondos Al-Braim, 14/12/2020

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('./vgsales.csv')

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

### Which company is the most common video game publisher?

In [5]:
most_common_publisher=df['Publisher'].value_counts()

In [6]:
most_common_publisher.head(1)

Electronic Arts    1351
Name: Publisher, dtype: int64

### What’s the most common platform?

In [7]:
most_common_platform=df['Platform'].value_counts()

In [8]:
most_common_platform.head(1)

DS    2163
Name: Platform, dtype: int64

### What about the most common genre?

In [9]:
most_common_Genre=df['Genre'].value_counts()

In [10]:
most_common_Genre.head(1)

Action    3316
Name: Genre, dtype: int64

### What are the top 20 highest grossing games?

In [11]:
top_games=df.head(20)[['Name','Global_Sales']]
top_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

### For North American video game sales, what’s the median?
#### Provide a secondary output showing ten games surrounding the median sales output

In [12]:
NA_median=df.NA_Sales.median()

In [13]:
NA_median

0.08

In [14]:
with_same_median=df[df['NA_Sales']==NA_median]

In [15]:
with_same_median.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
446,447,Dragon Warrior IV,NES,1990.0,Role-Playing,Enix Corporation,0.08,0.00,3.03,0.01,3.12
497,498,World Soccer Winning Eleven 7 International,PS2,2003.0,Sports,Konami Digital Entertainment,0.08,1.24,1.13,0.45,2.90
1617,1619,Farming Simulator 2015,PC,2014.0,Simulation,Focus Home Interactive,0.08,1.02,0.00,0.13,1.23
1926,1928,Pro Evolution Soccer 2008,X360,2007.0,Sports,Konami Digital Entertainment,0.08,0.90,0.04,0.05,1.07
2067,2069,Winning Eleven: Pro Evolution Soccer 2007 (All...,X360,2006.0,Sports,Konami Digital Entertainment,0.08,0.90,0.02,0.00,1.00

In [16]:
mid_point=len(with_same_median)//2

In [17]:
output=with_same_median[mid_point-5:mid_point+5]

In [18]:
output

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9931,9933,Spider-Man: Edge of Time,3DS,2011.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9934,9936,Turok: Evolution,GBA,2002.0,Shooter,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.12
9957,9959,Deadpool,XOne,2015.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9996,9998,GT Advance 2: Rally Racing,GBA,2001.0,Racing,THQ,0.08,0.03,0.00,0.00,0.11
10000,10002,A Witch's Tale,DS,2009.0,Role-Playing,Nippon Ichi Software,0.08,0.00,0.03,0.01,0.11
10012,10014,Nickelodeon Dance,X360,2011.0,Misc,Take-Two Interactive,0.08,0.02,0.00,0.01,0.11
10020,10022,Phantasy Star Collection,GBA,2002.0,Role-Playing,Atari,0.08,0.03,0.00,0.00,0.11
10022,10024,LEGO Knights' Kingdom,GBA,2004.0,Action,THQ,0.08,0.03,0.00,0.00,0.11
10024,10026,Family Game Night 4: The Game Show,PS3,2011.0,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11
10026,10028,NBA Jam 2002,GBA,2002.0,Sports,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.11

### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [19]:
(df['NA_Sales'].head(1)-df['NA_Sales'].mean())/df['NA_Sales'].std()

0    50.478988
Name: NA_Sales, dtype: float64

### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [20]:
Wii=df[df['Platform']=='Wii'].mean()['Global_Sales']

In [21]:
notWii=df[df['Platform']!='Wii'].mean()['Global_Sales']

In [22]:
print(Wii)
print(notWii)
print(f'Difference {Wii-notWii}')

0.6994037735849057
0.5233896418516336
Difference 0.17601413173327207

### Select the 5 most recent games

In [23]:
df.sort_values('Year',ascending=False).head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5957,5959,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.0,0.00,0.02,0.29
14390,14393,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017.0,Role-Playing,Sega,0.00,0.0,0.03,0.00,0.03
16241,16244,Phantasy Star Online 2 Episode 4: Deluxe Package,PSV,2017.0,Role-Playing,Sega,0.00,0.0,0.01,0.00,0.01
16438,16441,Brothers Conflict: Precious Baby,PSV,2017.0,Action,Idea Factory,0.00,0.0,0.01,0.00,0.01
8293,8295,Shin Megami Tensei IV: Final,3DS,2016.0,Role-Playing,Deep Silver,0.03,0.0,0.14,0.00,0.17

### Show the mean of the action games compared to other genres

In [24]:
df.groupby('Genre').mean()['Global_Sales'].sort_values(ascending=False)

Genre
Platform        0.938341
Shooter         0.791885
Role-Playing    0.623233
Racing          0.586101
Sports          0.567319
Fighting        0.529375
Action          0.528100
Misc            0.465762
Simulation      0.452364
Puzzle          0.420876
Strategy        0.257151
Adventure       0.185879
Name: Global_Sales, dtype: float64

### Count the number of games published by Nintendo

In [25]:
len(df[df['Publisher']=='Nintendo'])

703

In [26]:
assert most_common_publisher.idxmax()=='Electronic Arts'
assert most_common_platform.idxmax()=='DS'
assert most_common_Genre.idxmax()=='Action'

print('Passed')

Passed

In [27]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher.idxmax(), 'Electronic Arts')
    assert_equal(most_common_platform.idxmax(), 'DS')
    assert_equal(most_common_Genre.idxmax(), 'Action')
    assert_equal(top_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(NA_median, 0.08)
    assert_equal(output.iloc[0].Name, 'Spider-Man: Edge of Time')

    print("Success!!!")

test()

Success!!!